<% if current_user %>
  <%= turbo_stream_from "notifications_targetuser_#{current_user.id}" %>
  
  <li class="nav-item dropdown dropstart me-3">
    <a class="nav-link dropdown-toggle" href="#" 
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
  
      <%= render partial: "layouts/notifications/unread_icon", 
                 locals: { unread_count: @notifications_unread.count } %>

    </a>    

    <ul class="dropdown-menu">
      
      <% @notifications_unread.each do |notification| %>
        <%= render "layouts/notifications/notification", notification: notification %>
      <% end %>
      
      <% if @notifications_unread.count > 0 %>
        <li><%= button_to "  All Unread", destroy_all_unread_notifications_path, 
                          class: "bi bi-trash ms-2",
                          style: "background-color: transparent; border: transparent;",
                          method: :delete,
                          data: { turbo_confirm: "Are you sure?" } %>
        </li>
        <li><hr class="dropdown-divider"></li>
      <% elsif @notifications_unread.count == 0 && @notifications_read.count == 0 %>
        <li class="dropdown-item dflex justify-content-sm-end">
          No notifications
        </li>
      <% end %>

      <% @notifications_read.each do |notification| %>
        <%= render "layouts/notifications/notification", notification: notification %>
      <% end %>

      <% if @notifications_read.count > 0 %>
        <li><hr class="dropdown-divider"></li>
        <li><%= button_to "  All Read", destroy_all_read_notifications_path, 
                          class: "bi bi-trash ms-2",
                          style: "background-color: transparent; border: transparent;",
                          method: :delete,
                          data: { turbo_confirm: "Are you sure?" } %>
        </li>
      <% end %>

    </ul>
  </li>
<% end %>