<div data-controller="toggle" 
     data-toggle-initial-active-value="true"
     data-toggle-class-value="myhidden">

  <span data-action="click->toggle#toggle" class="mylink mb-3">
    <i class="fs-5 bi bi-chat-dots"></i>
  </span>

  <div data-toggle-target="content">
    <%= form_with(model: comment, url: post_comments_path(comment.post), local: true) do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="col-10">
        <div class="input-group">
          <%= f.text_area :body, autofocus: true, rows:"1", class: "form-control shadow rounded mb-2" %>
          <!-- <button type="button", class="btn  btn-sm"> <%= f.submit "Submit" %></button>  -->
          <%= f.button nil do %>
            <i class= "bi bi-floppy"></i>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>