<div data-controller="toggle" 
     data-toggle-initial-active-value="false"
     data-toggle-class-value="myhidden">

  <span data-action="click->toggle#toggle" class="mylink mb-3">
    <i class="fs-4 bi bi-pencil-square"></i>
  </span>

  <div data-toggle-target="content"></div>
    <%= form_with(model: @comment, 
                  url: post_comment_path(@comment.post, @comment), 
                  local: true) do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="col-10">
        <div class="input-group">
          <%= f.text_area :body, rows:"1", class: "form-control shadow rounded mb-2"%>
          
          <%= f.button nil do %>
            <i class= "bi bi-floppy"></i>
          <% end %>
      
          <%= button_tag "", class:"bi bi-x-circle", type: "hidden", value:"cancel" %>
        </div>
      </div>

    <% end %> 
  </div>
</div>



