<!--  Using the ransack gem  --> 
<%= search_form_for(@query, url: search_path, method: :get, class: "d-flex") do |f| %>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <%= f.label :updated_at_lteq, "Updated before:", class:"input-group-text" %>
          <%= f.date_field "post_updated_at_lteq", class: "form-control col me-auto" %>
        </div>
      </div>
      <div class="col-md-4 ms-auto">
        <div class="input-group">
          <%= f.label :updated_at_gteq, "Updated after:", class:"me-auto input-group-text" %>
          <%= f.date_field "post_updated_at_gteq", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4 ms-auto">
        <div class="input-group">
          <%= f.search_field :title_or_body_or_comments_body_or_user_username_or_user_email_address_or_categories_name_or_categories_description_i_cont_any, 
                  placeholder: "Search ...", 
                  class: "form-control me-2" %>
          <%= f.submit "Search", class: "btn btn-outline-success" %>
        </div>
      </div>
    
    </div>
  </div>
 
<% end %>