<!--When using form_with helper 
     1. Use (model:) so that the form is pre-populated with the existing object's data (since this is an edit action)
     2. It normally uses ajax to submit the form.  To override that with 
        a simple Get request:  local: true -->

<div class="container justify-content-center col-9">
  <%= form_with(model: @user, local: true,
                              class: "shadow p-3 mb-3 bg-grey rounded")  do |f| %>

    <div class="row g-3 mb-1"> 
      <div class="col-3 text-end">
        <%= f.label "Username:", class: "col-form-label" %>
      </div>
      <div class="col-8">
        <%= f.text_field :username, class: "form-control shadow rounded",
                                    placeholder: "Enter a username",
                                    autofocus: true %>
      </div>
    </div>

    <div class="row g-3 mb-1">
      <div class="col-3 text-end">
        <%= f.label "email:", class: "col-form-label" %>
      </div>  
      <div class="col-8">
        <%= f.email_field :email_address, class: "form-control shadow rounded",
                                          placeholder: "Enter your email address" %>
      </div>
    </div>

    <div class="row g-3 mb-1">
      <div class="col-3 text-end">
        <%= f.label "password:", class: "col-form-label" %>
      </div>
      <div class="col-8">
        <%= f.password_field :password, class: "form-control shadow rounded",
                                        placeholder: "Enter a password" %>
      </div>
    </div>

    <div class="row g-3 mb-1">
      <div class="col-3 text-end">
        <%= f.label "Password Confirmation:", class: "col-form-label" %>
      </div>
      <div class="col-8">
        <%= f.password_field :password_confirmation, class: "form-control shadow rounded",
                                        placeholder: "Re-enter the above password" %>
      </div>
    </div>

    <div class="text-center mt-2 mb-2">
      <%= f.submit(@user.new_record? ? "Sign-Up!" : "Update Profile") %>
    </div>

  <% end %>
</div>

<div class="text-center mt-2 mb-2">
  <%= link_to "[ Cancel and return to Articles Listing ]",
              posts_path,
              class: "text-decoration-none" %>
</div>
