<% @posts.each do |post| %>
  <div class="row justify-content-md-center">
    <div class="col-10 mt-2">
      <div class="card">
        <div class="card-header text-center">
          <% if post.user %>
            by: <em><%= link_to post.user.username, user_path(post.user), 
                          class: "link-opacity-50-hover text-decoration-none"%></em>
          <% end %>
        </div>
        <div class="card-body text-center shadow mb-2 bg-white rounded">
          <h5 class="card-title"><%= link_to post.title, post_path(post), 
                                             class: "link-dark text-decoration-none" %>
          </h5>

          <p class="card-text">
            A sample &#8677 <%= truncate(strip_tags(post.body.to_s), length: 20) %>
          </p>

          <div class="card-footer bg-transparent">
            <%= link_to "View", post_path(post), class: "btn btn-outline-success btn-sm" %>
            <% if logged_in? %>
              
              <% if post.user == current_user || current_user.admin? %>
                <%= link_to "Edit", edit_post_path(post), class: "btn btn-outline-primary btn-sm" %>
                <%= button_to "Delete", post_path(post), 
                                        class: "btn btn-outline-danger btn-sm",
                                        method: :delete,
                                        data: { turbo_confirm: "Are you sure?" } %>
              <% end %>
            <% end %>
          </div>       
          <div class="card-footer small mt-1 mb-1 text-muted text-bg-light border ">
            <% if post.categories.any? %>
              Categories: <%= render post.categories %>
            <% end %>
            <div class="small mt-1">
              <li>Created <%=time_ago_in_words(post.created_at)%> ago.
                  Edited <%=time_ago_in_words(post.updated_at)%> ago.</li>
              <li><%= "# views: #{post.views_count}"%></li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>