<% if current_user %>
  <li class="nav-item dropdown dropstart">
    <a class="nav-link dropdown-toggle" href="#" 
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
       <% if @notifications_unread.count == 0 %>
         <span class="badge rounded-pill text-bg-light">
           <i class="bi bi-bell"></i>
         </span>
       <% else %>
        <span class="badge rounded-pill text-bg-info">
            <%= @notifications_unread.count >= 9 ? "9+" : @notifications_unread.count %> 
            <i class="bi bi-bell"></i>
        </span>
       <% end %>
    </a>
    <ul class="dropdown-menu">
      <% @notifications_unread.each do |notification| %>
        <%= render "layouts/notification", notification: notification %>
      <% end %>
      <% if @notifications_unread.count > 0 %>
        <li><%= button_to "  All Unread", destroy_all_unread_notifications_path, 
                          class: "bi bi-trash ms-2",
                          style: "background-color: transparent; border: transparent;",
                          method: :delete,
                          data: { turbo_confirm: "Are you sure?" } %>
        </li>
        <li><hr class="dropdown-divider"></li>
      <% elsif @notifications_unread.count == 0 && @notifications_read.count == 0 %>
        <li class="dropdown-item dflex justify-content-sm-end">
          No notifications
        </li>
      <% end %>
      <% @notifications_read.each do |notification| %>
        <%= render "layouts/notification", notification: notification %>
      <% end %>
      <% if @notifications_read.count > 0 %>
        <li><hr class="dropdown-divider"></li>
        <li><%= button_to "  All Read", destroy_all_read_notifications_path, 
                          class: "bi bi-trash ms-2",
                          style: "background-color: transparent; border: transparent;",
                          method: :delete,
                          data: { turbo_confirm: "Are you sure?" } %>
        </li>
      <% end %>

    </ul>
  </li>
<% end %>